# Módulo NAMED TUPLE

In [2]:
tupla = (1, 2, 3)

print(tupla[1])

2

Named Tuple: São tuplas onde especifica-se os nomes e também parametros

In [3]:
from collections import namedtuple

In [8]:
# Forma 1:
cachorro1 = namedtuple('cachorro', 'idade raca nome')

Luke = cachorro1(idade=2, raca='Doguinho', nome='Luke')

print(Luke)

cachorro(idade=2, raca='Doguinho', nome='Luke')

In [9]:
# Forma 2:
cachorro2 = namedtuple('cachorro', 'idade, raca, nome')

Luke = cachorro2(idade=2, raca='Doguinho', nome='Luke')
print(Luke)

cachorro(idade=2, raca='Doguinho', nome='Luke')

In [10]:
# Forma 3:
cachorro3 = namedtuple('cachorro', ['idade', 'raca', 'nome'])

Luke = cachorro3(idade=2, raca='Doguinho', nome='Luke')
print(Luke)

cachorro(idade=2, raca='Doguinho', nome='Luke')

**Acessando os dados**

In [15]:
# Forma 1:

print(Luke[0]) #idade
print(Luke[1]) #raca
print(Luke[2]) #nome

2
Doguinho
Luke

In [16]:
# Forma 2:

print(Luke.idade)
print(Luke.raca)
print(Luke.nome)

2
Doguinho
Luke

In [19]:
print(Luke.index('Doguinho'))

print(Luke.count('Doguinho'))

1
1