# Entendendo e explorando RANGES
Não é uma estrutura de repetição, mas uma função auxíliar

É necessário entender os LOOPS FOR para entender os RANGES

Precisamos conhecer o RANGE para trabalhar melhor com o LOOP FOR

# Exemplos: RANGES
São utilizados para gerar sequências numéricas, não de forma aleatória, mas especificada

Forma 1: Passando apenas o valor de parada

In [2]:
for num in range (11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

Passando apenas um valor no range, será considerado que começa no zero, e o útlimo valor não está incluso no RANGE.

Forma 2: Passando o valor de início e de fim

In [3]:
for num in range (1, 11):
    print (num)

1
2
3
4
5
6
7
8
9
10

É bem semelhante ao anterior, porém nçao inclui o último valor, por exemplo 11

Forma 3: Valor de inicio, parada e passo (específicado pelo usuário)

In [5]:
for num in range (1, 10, 2):
    print (num)

1
3
5
7
9

Note que há uma razão sendo seguida. Neste exemplo a razão é dois, ou seja, vai de dois em dois

In [6]:
# Outro exemplo: 
for num in range (1, 55, 5):
    print (num)

1
6
11
16
21
26
31
36
41
46
51

Forma 4: Identica ao método três, porém inverso. Valor de parada, valor de entrada e passo

In [10]:
for num in range (10, 0, -1):
    print (num)

10
9
8
7
6
5
4
3
2
1

In [12]:
# Outro exemplo:
for num in range (55, -10, -5):
    print (num)

55
50
45
40
35
30
25
20
15
10
5
0
-5

# Criando uma LISTA a partir de um RANGE

In [16]:
lista = list(range(10))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]